<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>871725121013-76mv9ucs57q3s32e6dvluc8abdsmnkuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871725121013-76mv9ucs57q3s32e6dvluc8abdsmnkuf</string>
	<key>API_KEY</key>
	<string>AIzaSyBNl97e0PQk7DLcMzp6ZvQEuOZ0rYIlRBA</string>
	<key>GCM_SENDER_ID</key>
	<string>871725121013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.castr.castrapp</string>
	<key>PROJECT_ID</key>
	<string>castr-a92d3</string>
	<key>STORAGE_BUCKET</key>
	<string>castr-a92d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871725121013:ios:77ebc5f5a42fb420</string>
	<key>DATABASE_URL</key>
	<string>https://castr-a92d3.firebaseio.com</string>
</dict>
</plist>